<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyl.module_core">
    <application>
        <meta-data android:name="com.tyl.module_main.AppConfig"
            android:value="ModuleConfig"/>
        <meta-data android:name="com.tyl.module_main.MainProviderImpl"
            android:value="ModuleProvider"/>
    </application>
</manifest>